:root {
  --primary-bg-color: rgb(233, 244, 247);
  --nav-bar-border-bottom-color: rgb(211, 242, 252);
  --primary-color: rgb(0, 0, 0);
  --user-icon-color: rgb(58, 58, 246);
  --user-icon-bg-color: rgb(218, 218, 248);
  --hover-color: rgb(58, 58, 246);
  --hover-bg-color: rgb(241, 241, 248);
  --nav-search-border-color: rgb(173, 216, 230);
  --nav-search-bar-bg-color: rgb(233, 244, 247);
  --link-underline-color: rgb(136, 136, 243);
  --dropdown-border-color: #e9f4f7;
  --dropdown-box-shadow-color: rgba(0, 0, 0, 0.15);
  --dropdown-bg-color: rgb(255, 255, 255);
  --error-text-color: rgb(255, 0, 0);
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Roboto";
  font-size: 12pt;
}

nav,
form,
th {
  background-color: var(--primary-bg-color);
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  font-size: 20pt;
  padding: 10px;
  border-radius: 1px;
  border-bottom: 1px solid var(--nav-bar-border-bottom-color);
}

.main-menu {
  display: flex;
}

.navbar,
.people-menu {
  margin-right: 10px;
  border-radius: 1px;
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

i {
  margin-right: 5px;
  font-size: 15pt;
}

.fa-search {
  padding: 6px;
  font-size: 13pt;
}

.fa-sign-out {
  font-size: 13pt;
}

.fa-angle-down {
  margin-left: 5px;
}

.navbar:hover,
.people-menu:hover {
  color: var(--user-icon-color);
}

.navbar:hover,
.people-menu:hover,
.link:hover,
tr:hover {
  background-color: var(--hover-bg-color);
}

.nav-search-bar {
  display: flex;
  margin-left: 10px;
  flex-grow: 1;
  border: 2px solid var(--nav-search-border-color);
  border-radius: 4px;
}

.focused {
  border: 2px solid var(--hover-color);
}

.nav-search-bar > input {
  flex-grow: 1;
  background-color: var(--nav-search-bar-bg-color);
  border: none;
}

.nav-search-bar > input:focus {
  outline: none;
}

.user-menu {
  margin-left: 20px;
}

.user-icon {
  border-radius: 50%;
  color: var(--user-icon-color);
  background-color: var(--user-icon-bg-color);
  cursor: pointer;
  padding: 7px;
  font-size: 14pt;
  font-weight: bold;
}

.user-dropdown-menu {
  right: 0;
}

.user-dropdown-item {
  margin: auto;
  padding: 0px 10px;
  font-size: 13pt;
}

.link {
  cursor: pointer;
  margin-top: 5px;
}

.link:hover {
  border-bottom: 2px solid var(--link-underline-color);
}

.people-dropdown-menu,
.user-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid var(--dropdown-border-color);
  border-radius: 1px;
  box-shadow: 0 2px 5px var(--dropdown-box-shadow-color);
  z-index: 10;
  background-color: var(--dropdown-bg-color);
  margin-top: 10px;
  padding: 5px;
}

.people-dropdown-item,
.link {
  width: 100%;
  padding: 3px 10px;
  font-size: 15pt;
  box-sizing: border-box;
  border-bottom: 1px solid var(--nav-bar-border-bottom-color);
}

.people-dropdown-item:hover,
.link:hover {
  border-bottom: 2px solid var(--link-underline-color);
}

.display-table-header {
  margin: 2px;
}

.add-new {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  font-size: 15pt;
}

.display-table-description-text {
  font-size: 20pt;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 99%;
  margin: auto;
}

td,
th {
  padding: 2px;
  text-align: left;
}

/* to check*/

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  margin-top: 100px;
}

form > label {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

label > input {
  line-height: 2;
  padding: 0 5px;
  margin: 10px;
  border: none;
  flex-grow: 1;
  margin-left: 5px;
}

button {
  border: none;
  margin: 5px;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 12pt;
  background-color: var(--user-icon-color);
  color: white;
}

.errorsMessages {
  color: var(--error-text-color);
  margin: 0px;
  min-height: 15pt;
}

li {
  list-style: none;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.page-item {
  margin: 10px;
}
